body{
  margin: 0;
  font-family:sans-serif, pretendard;

.simbol{
  width: 50px; /* 로고의 가로 크기 */
  height: auto; /* 비율에 따라 세로 크기 자동 조정 */
  margin-left: 5%;
  margin-right: 1%;
}

.text-group{
position: absolute;
top: 30%;
left: 60%;
transform: translate(-50%, -50%);
text-align: left;
color: black;
}

.text-type1{
font-size: 2vw;
font-weight: 400;
text-align: left;
margin-left: 15px;
color: #432804;
letter-spacing: -1px
line-height: 1;
}
.text-type2{
  font-size: 7vw;
  font-weight:800;
  color: #b1761c;
  }

.text-type3{
    font-size: 2.5vw;
    font-weight: 600;
    text-align: left;
    margin-left: 10px;
    color: #040404;
    }


.btn-outline-success {
  color: gray;
  border-color: black;
  background-color: black;
}

.btn-outline-success:hover {
  color: white;
  border-color: black;
  background-color: black;
}

.navbar-brand {
  font-weight: 700;
}

.card {
  max-width: 100%;
}

footer {
  background-color: black;
  color: white;
}

.first-line {
  border-bottom: 1px solid #392d23;
}

.second-line a {
  color: white;
  text-decoration: none;
}

.second-line a:hover {
  color: burlywood;
}

.third-line{
  display:none
}

@media screen and (max-width:48rem){
  .first-line {text-align:center;
}

@media screen and (max-width:48rem){
  .second-line {
    padding-left:2rem;
    padding-right:2rem;
}

.button-style:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
